extends layout

block content
  h1.page-title= title
  div#introduction
    h2 Hello Matt and other testers! 
    h3 Welcome to the Splinter Test on express
    p
    | The goal of this project was to create a web app with the ability to watch 
    | a Splinterlands stream and perform actions as per the requirements in the Readme.
    br
    | Feel free to navigate the site at your leisure, a navbar has been provided at 
    | the top of this page for your convenience.