doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div#top-wrapper
      header.mainheader
        h1#header-text Splinterlands Testsite 

      nav.mainnav
        ul.navlist
          li
            a(href='/') Home 
          li
            a(href='/ops') Operations
          li 
            a(href='/players') Players
      
    div#main-wrapper
      block content
