extends layout

block content 
  h1.page-title Ops Type Count 
  table
    tr 
      th Operation Type 
      th Operation Count
    each val, key in opCount 
      tr 
        td= key 
        td= val