extends layout

block content 
  h1 Ops Type Count 
  table(width='100%', border='1')
    tr 
      th Operation Type 
      th Operation Count
    each val, key in opCount 
      tr 
        td= key 
        td= val