extends layout

block content 
  h1 Player Ops Count
  div 
    form(action='/players/search')
      input(type='text', id='query', name='q', placeholder='Search...')
      input(type='submit', value='Search')
    button(type='button', onclick='refresh()', value='Refresh', name='refresh', id='refresh') Refresh
  table
    tr
      th Player 
      th Ops Count 
    each val, key in playersCount
      tr 
        td= key 
        td= val
  script. 
    function refresh(){
      window.location.reload(true)
    }