extends layout

block content 
  h1.page-title Player Ops Count
  div.page-search 
    form(action='/players/search')
      p: input(type='text', id='query', name='q', placeholder='Search...')
      p: input(type='submit', value='Search', id='search-subit')
    button(type='button', onclick='refresh()', value='Refresh', name='refresh', id='refresh') Refresh
  table
    tr
      th Player 
      th Ops Count 
    each val, key in playersCount
      tr 
        td= key 
        td= val
  script. 
    function refresh(){
      window.location.reload(true)
    }